.main
  %section.main__view
    .main__view__box
      %h2.main__view__box__text
        = "人生を変えるフリマアプリ"
      %p.main__view__box__subtext
        = "FURIMAはだれでもかんたんに出品・購入できる"
        %br/
        = "フリマアプリです"
      .main__view__box__btn
        %a.main__view__box__btn__app{:href => "#"}
          %img{src: "/assets/Download_on_the_App_Store_Badge_JP_blk.png"}
        %a.main__view__box__btn__google{:href => "#"}
          %img{src: "/assets/Download_on_the_App_Store_Badge_JP_blk.png"}
  %section.main__guide
    %h2.main__guide__title
      = "FURIMAが選ばれる３つの理由"
    %ul.main__guide__lists
      %li.main__guide__lists__list
        .main__guide__lists__list__picture
          %span.main__guide__lists__list__picture__number
            = "1"
          %img{src: "/assets/pict-reason-01.jpg"}
        %h3.main__guide__lists__list__text
          %span 3分
          = "ですぐに出品"
        %p.main__guide__lists__list__subtext
          = "スマホで入力するだけで簡単に出品できる！"
      %li.main__guide__lists__list
        .main__guide__lists__list__picture
          %span.main__guide__lists__list__picture__number
            = "2"
          %img{src: "/assets/pict-readon-02.jpg"}
        %h3.main__guide__lists__list__text
          %span シンプル
          = "で使いやすい"
        %p.main__guide__lists__list__subtext
          = "めんどくさい入力は必要なく、検索も購入もスムーズ！"
      %li.main__guide__lists__list
        .main__guide__lists__list__picture
          %span.main__guide__lists__list__picture__number
            = "3"
          %img{src: "/assets/pict-reason-03.jpg"}
        %h3.main__guide__lists__list__text
          = "手数料"
          %span 業界最安
        %p.main__guide__lists__list__subtext
          = "最大3%でお得に出品＆購入！"
  %section.main__appeal
    .main__appeal__box2
      %h2.main__appeal__box2__title
        = "会員数日本一位"
      %p.main__appeal__box2__text
        = "FURIMAは、フリマアプリで最も人気。"
        %br/
        = "出品。購入回数も業界最多です！"
        %br/
        = "欲しかったあの商品に出会えるかもしれません。"
      .main__appeal__box2__btn
        %a.main__appeal__box2__btn__app{:href => "#"}
          %img{src: "/assets/Download_on_the_App_Store_Badge_JP_blk.png"}
        %a.main__appeal__box2__btn__google{:href => "#"}
          %img{src: "/assets/Download_on_the_App_Store_Badge_JP_blk.png"}
  %section.main__description
    %h2.main__description__title
      = "FURIMAの特徴"
    .main__description__styles
      %section.main__description__styles__style
        %figure.main__description__styles__style__img
          %img{src: "/assets/icon-01.png"}
        %h3.main__description__styles__style__text
          = "簡単に売り買いできる"
        %p.main__description__styles__style__subtext
          = "スマホひとつで、いつでもどこでも簡単に出品・購入が可能！"
      %section.main__description__styles__style
        %figure.main__description__styles__style__img
          %img{src: "/assets/icon-03png.png"}
        %h3.main__description__styles__style__text
          = "売上金は即日振込みに対応"
        %p.main__description__styles__style__subtext
          = "午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!"
      %section.main__description__styles__style
        %figure.main__description__styles__style__img
          %img{src: "/assets/icon-04.png"}
        %h3.main__description__styles__style__text
          = "様々な支払いに対応"
        %p.main__description__styles__style__subtext
          = "お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。"
  %section.main__pickup
    %p.main__pickup__title
      = "ピックアップカテゴリー"
    .main__pickup__box
      .main__pickup__box__subtitleline
        %a{:href => "#"}
          %h3.main__pickup__box__subtitleline__subtitle
            = "投稿商品"
      .main__pickup__box__items
        .main__pickup__box__items__item
          %a{:href => "#"}
            %figure.main__pickup__box__items__item__img
              %img{src: "/assets/icon-04.png"}
            .main__pickup__box__items__item__content
              %h3.main__pickup__box__items__item__content__name
                = "product"
              .main__pickup__box__items__item__content__detail
                %ul
                  %li
                    = "30000円"
                  %li
                    = icon("fas","star")
                    = "0"
                %p
                  = "(税込)"
        .main__pickup__box__items__item
          %a{:href => "#"}
            %figure.main__pickup__box__items__item__img
              %img{src: "/assets/icon-04.png"}
            .main__pickup__box__items__item__content
              %h3.main__pickup__box__items__item__content__name
                = "product"
              .main__pickup__box__items__item__content__detail
                %ul
                  %li
                    = "30000円"
                  %li
                    = icon("fas","star")
                    = "0"
                %p
                  = "(税込)"
        .main__pickup__box__items__item
          %a{:href => "#"}
            %figure.main__pickup__box__items__item__img
              %img{src: "/assets/icon-04.png"}
            .main__pickup__box__items__item__content
              %h3.main__pickup__box__items__item__content__name
                = "product"
              .main__pickup__box__items__item__content__detail
                %ul
                  %li
                    = "30000円"
                  %li
                    = icon("fas","star")
                    = "0"
                %p
                  = "(税込)"
  %section.main__pickup
    %p.main__pickup__title
      = "ピックアップブランド"
    .main__pickup__box
      .main__pickup__box__subtitleline
        %a{:href => "#"}
          %h3.main__pickup__box__subtitleline__subtitle
            = "アーカイブ"
      .main__pickup__box__items
        .main__pickup__box__items__item
          %a{:href => "#"}
            %figure.main__pickup__box__items__item__img
              %img{src: "/assets/icon-04.png"}
            .main__pickup__box__items__item__content
              %h3.main__pickup__box__items__item__content__name
                = "product"
              .main__pickup__box__items__item__content__detail
                %ul
                  %li
                    = "30000円"
                  %li
                    = icon("fas","star")
                    = "0"
                %p
                  = "(税込)"
        .main__pickup__box__items__item
          %a{:href => "#"}
            %figure.main__pickup__box__items__item__img
              %img{src: "/assets/icon-04.png"}
            .main__pickup__box__items__item__content
              %h3.main__pickup__box__items__item__content__name
                = "product"
              .main__pickup__box__items__item__content__detail
                %ul
                  %li
                    = "30000円"
                  %li
                    = icon("fas","star")
                    = "0"
                %p
                  = "(税込)"
        .main__pickup__box__items__item
          %a{:href => "#"}
            %figure.main__pickup__box__items__item__img
              %img{src: "/assets/icon-04.png"}
            .main__pickup__box__items__item__content
              %h3.main__pickup__box__items__item__content__name
                = "product"
              .main__pickup__box__items__item__content__detail
                %ul
                  %li
                    = "30000円"
                  %li
                    = icon("fas","star")
                    = "0"
                %p
                  = "(税込)"
