.account_footer
  .account-footer_container
    %ul.account_footer_container_explanation
      %li
        = link_to "https://www.mercari.com/jp/privacy/" do
          プライバシーポリシー
      %li
        = link_to "https://www.mercari.com/jp/tos/" do
          メルカリ利用規約
      %li
        = link_to "https://www.mercari.com/jp/tokutei/" do
          特定商取引に関する表記
    = link_to "https://www.mercari.com/jp/" do
      = image_tag "logo1.svg", size: "80x65", class: "logo_gray"
    %p © Mercari, Inc.